<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Tipo de Captura
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Tipo</p>
                                    </label>
                                    <div class="col-md-8">
                                        <select name="type" class="form-control" ng-change="vm.changeType()" ng-model="vm.type" disabled>
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.types" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-7 control-label none-padding-right">
                                        <p class="text-left">Valida Valor</p>
                                    </label>
                                    <div class="col-md-5">
                                        <label class="radio-inline">
                                            <input name="validValue" type="radio" ng-model="vm.validValue" ng-value=true disabled>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="validValue" type="radio" ng-model="vm.validValue" ng-value=false disabled>No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-7 control-label none-padding-right">
                                        <p class="text-left">Valida Fecha</p>
                                    </label>
                                    <div class="col-md-5">
                                        <label class="radio-inline">
                                            <input name="validDate" type="radio" ng-model="vm.validDate" ng-value=true disabled>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="validDate" type="radio" ng-model="vm.validDate" ng-value=false disabled>No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </div-->

                            <div class="col-md-6"  ng-show="vm.statusCodeEan">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Código EAN (415)</p>
                                    </label>
                                    <div class="col-md-6">
                                        <input name="eanCode" type="text" class="form-control" ng-model="vm.eanCode" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="associatedAgreements" class="col-md-6 control-label">
                                        <p class="text-left">Convenios Asociados</p>
                                    </label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input name="associatedAgreements" type="radio" ng-model="vm.associatedAgreements" ng-value=true disabled>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="associatedAgreements" type="radio" ng-model="vm.associatedAgreements" ng-value=false disabled>No
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-offset-1 col-md-10" ng-show="vm.statusAssociatedAgreements">
                                <div ng-repeat="convenio in vm.listStatusAssociatedAgreements">
                                    <ng-form name="formConvenio">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Convenio Asociado {{$index + 1}}</div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="associatedAgreementCode" class="col-md-5 control-label">
                                                                <p class="text-left">Código EAN</p>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <input type="text" name="associatedAgreementCode" class="form-control" ng-model="convenio.associatedAgreementCode" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="numberAssociatedAgreement" class="col-md-6 control-label">
                                                                <p class="text-left">Número de Convenio</p>
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input type="text" name="numberAssociatedAgreement" class="form-control" ng-model="convenio.numberAssociatedAgreement" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label for="associatedAccount" class="col-md-6 control-label">
                                                                <p class="text-left">Cuenta Asociada</p>
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input type="text" name="associatedAccount" class="form-control" ng-model="convenio.associatedAccount" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="vm.statusCollectionCard">
                            <div class="col-md-offset-1 col-md-10">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <p class="text-center">Tarjeta de Recaudo</p>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                                        <p class="text-left">Expedición</p>
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input name="expedition" type="number" placeholder="0001" class="form-control" ng-model="vm.expedition">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                                        <p class="text-left">Reexpedición</p>
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input name="rexpedition" type="number" placeholder="0001" class="form-control" ng-model="vm.rexpedition">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="tipo_identificacion" class="col-md-4 control-label">
                                                    <p class="text-left">Archivo</p>
                                                </label>
                                                    <div class="col-md-8">
                                                        <input name="file" type="file" class="form-control" ng-model="vm.file">
                                                        <span class="control-label error-mensaje" ng-show="!generalData.$pristine && generalData.file.$error.required">
                                                        Debe adjuntar un archivo
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="button" class="btn btn-primary center-block">Añadir</button>
                                        </div>

                                        <div class="row">
                                            <br>
                                            <div class="col-md-offset-1 col-md-10">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Archivo Adjunto</th>
                                                                <th class="text-center">Accion</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center">Documento.docx</td>
                                                                <td class="text-center">Eliminar</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
