<ol class="breadcrumb">
    <li><a ui-sref="templateAuth.home">Autorizador de Solicitudes</a></li>
    <li class="active">Modificación de solicitud</li>
</ol>

<div class="row father-center">
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.createRequest()">
        Alta de Solicitud
    </button>
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.editRequest()">
        Modificación Solicitud - Convenio
    </button>
    <button type="submit" class="btn btn-primary son-center" ng-click="vm.consultRequest()">
        Consulta Solicitud - Convenio
    </button>
</div>

<br>
<div class="row">
    <div class="col-md-7">
        <p class="lead">Información de Convenio {{ vm.idAgreement }}</p>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-5">
                <span>Porcentaje: {{vm.progress}}%</span>
            </div>
            <div class="col-md-7">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.progress}}%">
                        <span class="sr-only">45% completado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11">
        <div ng-show="vm.state1">

            <general-data-authorizer></general-data-authorizer>
            <base-data-authorizer></base-data-authorizer>
            <output-file-authorizer></output-file-authorizer>
            <reference-information-authorizer></reference-information-authorizer>
            <capture-type-authorizer></capture-type-authorizer>
            <pin-generation-authorizer></pin-generation-authorizer>
            <accounts-receivable-authorizer></accounts-receivable-authorizer>

            <!-- impuestos -->
            <div ng-show="vm.isTax">
                <tax-dispersion-accounts-authorizer></tax-dispersion-accounts-authorizer>
                <special-tax-parameters-authorizer></special-tax-parameters-authorizer>
                <recaudo-products-tax-authorizer></recaudo-products-tax-authorizer>
            </div>

            <div class="row" ng-hide="vm.state3">
                <button type="button" ng-click="vm.next1()" class="btn btn-primary center-block">Siguiente</button>
            </div>
        </div>

        <div ng-show="vm.state2">
            <financial-terminal-authorizer></financial-terminal-authorizer>
            <bbva-net-bbva-cash-authorizer></bbva-net-bbva-cash-authorizer>
            <atm-authorizer></atm-authorizer>
            <mobile-banking-authorizer></mobile-banking-authorizer>
            <pay-time-authorizer></pay-time-authorizer>
            <bank-correspondent-authorizer></bank-correspondent-authorizer>
            <payments-pse-authorizer></payments-pse-authorizer>
            <annex-documents-authorizer></annex-documents-authorizer>
            <div class="row father-center" ng-hide="vm.state3">
                <button type="button" ng-click="vm.after1()" class="btn btn-primary son-center">Anterior</button>
                <button type="button" ng-click="vm.next2()" class="btn btn-primary son-center">Siguiente</button>
            </div>
        </div>
        <div class="row father-center" ng-show="vm.state3">
            <button type="button" ng-click="vm.after2()" class="btn btn-primary son-center">Anterior</button>
            <button type="button" ng-click="vm.print()" class="btn btn-primary son-center">Imprimir</button>
            <button type="button" ng-click="vm.save()" class="btn btn-primary son-center">Guardar</button>
        </div>
    </div>
</div>

<br>
