<v-accordion class="vAccordion--default" multiple>

    <v-pane>
        <v-pane-header>
            Banca Móvil
        </v-pane-header>

        <v-pane-content>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" name="generalData" role="form">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary" ng-disabled="!vm.status">Activo</button>
                                    <button type="button" class="btn btn-primary" ng-disabled="vm.status">Inactivo</button>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Categoría</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="category" class="form-control" ng-model="vm.category" disabled>
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.categories" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Subcategoría</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="subcategory" class="form-control" ng-model="vm.subcategory" disabled>
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.subcategories" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Formato</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="format" class="form-control" ng-model="vm.format" disabled>
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.formats" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Formato Imagen</p>
                                    </label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input name="imageFormat" type="text" ng-model="vm.imageFormat" class="form-control" disabled>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Valor Fijo</p>
                                    </label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input name="fixedValue" type="radio" ng-model="vm.fixedValue" ng-value=true disabled>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="fixedValue" type="radio" ng-model="vm.fixedValue" ng-value=false disabled>no
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Indicador de Domiciliación</p>
                                    </label>
                                    <div class="col-md-6">
                                        <label class="radio-inline">
                                            <input name="domicileIndicator" type="radio" ng-model="vm.domicileIndicator" ng-value=true disabled>Si
                                        </label>
                                        <label class="radio-inline">
                                            <input name="domicileIndicator" type="radio" ng-model="vm.domicileIndicator" ng-value=false disabled>no
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <p class="text-center title-reference-unique">Referencia Única</p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tipo_identificacion" class="col-md-6 control-label">
                                        <p class="text-left">Tipo de Campo</p>
                                    </label>
                                    <div class="col-md-6">
                                        <select name="fieldType" ng-change="vm.changeType()" class="form-control" ng-model="vm.fieldType" disabled>
                                            <option value="">Seleccione una opción</option>
                                            <option ng-repeat="x in vm.fieldTypes" value="{{x.value}}">{{x.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numero_identificacion" class="col-md-4 control-label">
                                        <p class="text-left">Descripción de Referencia</p>
                                    </label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="3" ng-model="vm.referenceDescription" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </v-pane-content>
    </v-pane>

</v-accordion>
